body {
    margin: 0%;
}

/*header*/

.header {
    background-color: rosybrown;
    padding: 20px 5%;
    max-height: 50px;
}

.img {
    height: 3rem;
    width: 3rem;
}

.bank-title {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    font-size: 1.7rem;
}






/*welcome user container*/
.container {
    display: flex;
    background-color: blueviolet;
    justify-content: flex-end;
    padding: 10px 10%;
    max-height: 40px;
}
.title {
    color: white;
    margin: 9px 5%;
    margin-right: auto;
    font-size: 1.4rem;
}
.time {
    font-size: 1.3rem;
    margin: 9px 5%;
}
.button {
    background-color: #ffc93c;
    font-size: 1rem;
    padding: 8px 30px;
    border-radius: 10px;
    border: none;
}
.button:hover {
    background-color: #daaa31;
    color: white;
}

@media (max-width: 520px) {
    .container {
        padding: 10px 4%;
        background-color: royalblue;
    }
    .title {
        margin: 9px 5%;
        margin-right: auto;
        font-size: 1.2rem;
    }
    .time {
        font-size: 1.2rem;
        margin: 9px 5%;
    }
    .button {
        font-size: 1rem;
        padding: 2px 10px;
    }
}
